/* .package {
  width: 900px;
  width: 90%;
  margin: auto;
}

.details h1 {
  color: #000;
  font-size: 40px;
  text-align: center;
}
.details p {
  color: #000;
  font-size: 22px;
}
.package .container .box-container {
  margin: 4px 4px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.box-container:last-child {
  padding-bottom: 60px;
}

.package .container .box-container::after {
  content: "";
  clear: both;
  display: block;
}

.package .container .box-container .box {
  position: relative;
  float: left;
  padding: 0;
  box-shadow: 3px 3px 10px gray;
}
.package .container .box-container .box:first-child {
  margin-left: 0;
}

.box-container .box span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.box-container .box {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.box-container .box:hover + span {
  bottom: -250px;
  opacity: 1;
}


.box-container .box img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.box-container .box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
} */

/* signature dish */
/* .background {
  background-color: #ccc;
  padding: 40px;
}
.details {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.details h1 {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.details p {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-style: italic;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  margin: auto;
}
.cart {
  background-color: #e9e5dd;
  object-fit: cover;
}
.cart:hover {
  background-color: antiquewhite;
  transition: 0.2s;
  box-shadow: 5px 5px 5px rgb(94, 90, 90);
}
.cart p {
  text-align: center;
  font-weight: 900;
  text-transform: capitalize;
}
.cart p:hover {
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.2s;
}
*/
* {
  margin: 0;
  padding: 0;
}
.content-wrap {
  width: 900px;
  width: 90%;
  margin: auto;
  /* background-color: bisque; */
}
.nav ul {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
}
/* header */
header {
  background-color: #d82057;
  padding: 12px 0;
  line-height: 2;
}
/* .header .logo {
  background-color: brown;
}
.header .nav {
  background-color: cadetblue;
} */
.header .logo,
.header .nav {
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #d82057;
}

.btn {
  background-color: #011839;
  color: white;
  border: none;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}
.btn:hover {
  transition: 0.2s;
  border: none;
  color: #011839;
  background-color: white;
}

.nav-toggler {
  height: 30px;
  width: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* position: relative; */
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgb(255, 255, 255, 0.6);
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: #000;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler .active span {
  background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler .active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(6px);
}
.nav-toggler .active span::after {
  transform: rotate(135deg);
}

@media (max-width: 991px) {
  .nav-toggler {
    display: block;
    /* text-align: center; */
  }
  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
    /* background-color: antiquewhite; */
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
}
